@model JsonL.Models.TS

@{
    ViewBag.Title = "Добавление";
}


<h2 style="text-align:center">Добавление</h2>
<hr />
<form action="Add" method="post" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Фамилия:</label>
        <div class="col-md-10">
            @Html.CreateTxtBox("Surname","text",htmlClass:"form-control")
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Телефон:</label>
        <div class="col-md-10">
            @Html.CreateTxtBox("Phone", "number", htmlClass: "form-control")
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить" class="btn btn-success" />
            <a href="~/Dict/Index" class="btn btn-danger">Назад</a>
        </div>
    </div>
</form>



