@model JsonL.Models.TS

@{
    ViewBag.Title = "Изменение";
}

<h2 style="text-align:center">Изменение</h2>
<hr />
<form action="Update" method="post" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="number" hidden name="Id" value="@Model.Id" />
    <div class="form-group">
        <label class="control-label col-md-2">Фамилия:</label>
        <div class="col-md-10">
            @Html.CreateTxtBox("Surname", "text", Model.Surname, "form-control")
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Телефон:</label>
        <div class="col-md-10">
            @Html.CreateTxtBox("Phone", "number", Model.Phone, "form-control")
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить" class="btn btn-success" />
            <a href="~/Dict/Index" class="btn btn-danger">Назад</a>
        </div>
    </div>
</form>

